<div class="area_logada_inicial">
  <div class="container">
    <app-nav-bar></app-nav-bar>
    <div class="logo_logado">
      <app-logo></app-logo>
      <mat-icon aria-hidden="false" aria-label="Example user icon" fontIcon="account_circle"></mat-icon>
    </div>
    <h1>Olá, Leo</h1>
    <p>Você terá acesso aos usuários do sistema.</p>
    <app-pesquisa [label] = "label" [exemplo]="exemplo"></app-pesquisa>
    <ul>
      <li>
          Igor Castro
        <div class="botoes">
          <button mat-icon-button color="Primary - grey" aria-label="Example icon button with a menu icon">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button color="Primary - grey" aria-label="Example icon button with a menu icon">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </li>
    </ul>
  </div>
  <app-footer></app-footer>
  </div>
