<div class="area_logada_inicial">
  <div class="container">
    <app-nav-bar></app-nav-bar>
    <div class="logo_logado">
      <app-logo></app-logo>
      <mat-icon aria-hidden="false" aria-label="Example user icon" fontIcon="account_circle"></mat-icon>
    </div>
    <h1>Olá, Leo</h1>
    <p>Você terá acesso aos usuários do sistema.</p>
    <app-pesquisa [label] = "label" [exemplo]="exemplo"></app-pesquisa>
    <table mat-table [dataSource]="usuario" class="mat-elevation-z8" matSort>

      <ng-container matColumnDef="usuarios_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let usuario"> {{usuario.usuarios_id}} </td>
      </ng-container>

      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
        <td mat-cell *matCellDef="let usuario"> {{usuario.nome}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let usuario"> {{usuario.email}} </td>
      </ng-container>

      <ng-container matColumnDef="celular">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Celular </th>
        <td mat-cell *matCellDef="let usuario"> {{usuario.celular}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let usuario">
          <button mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <app-footer></app-footer>
  </div>
