<div class="update-password">
  <app-logo></app-logo>
  <p style="color: white;">Acesse sua conta</p>
  <form class="example-form" (ngSubmit)="enviarNovaSenha()" [formGroup]="formGroup">

    <mat-form-field>
      <mat-label>Coloque a nova senha</mat-label>
      <input matInput [formControl]="password1" formControlName="password1" required [type]="hide1 ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
        <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Confirme a senha</mat-label>
      <input matInput [formControl]="password2" formControlName="password2" required [type]="hide2 ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
        <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <app-button [nome]="nomeBotao" type="submit"></app-button>
  </form>
</div>
