.example-form {
  display: flex;
  flex-direction: column;
  line-height: 100px;
  width:100%;
  max-width: 500px;
}

.verifica-email {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.header{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.material-icons{
  font-size: 45px;
  height: 45px;
  width: 45px;
  margin-left: 60px;
}

