<div class="verifica-email">
  <div class="header">
    <app-logo></app-logo>
    <mat-icon (click)="goBack()" style="color: palevioletred;"class="mat-18">reply</mat-icon>
  </div>
  <p style="color: white;">Confirme seu email</p>
  <form class="example-form" (ngSubmit)="enviaCodigo()" [formGroup]="formGroup">

    <mat-form-field>
      <mat-label>E-mail</mat-label>
      <input matInput placeholder="pat@example.com" required name="inputEmail" formControlName="email">
      @if (emailFormControl .invalid) {
        <mat-error>{{getErrorMessage()}}</mat-error>
      }
    </mat-form-field>

    <app-button [nome]="nomeBotao" type="submit"></app-button>
  </form>
</div>
