<div class="topico">
  <div class="container">
    <app-nav-bar></app-nav-bar>
    <div class="logo_logado">
      <app-logo></app-logo>
    </div>
    <h1>Olá, {{nome}}</h1>
    <p>Você terá acesso os tópicos de SI da UFF.</p>
    <div *ngIf="topicos$ | async as topicos; else loading">
      <app-lista-topicos-edit [topicos]="topicos" [materiaId]="materiaId"></app-lista-topicos-edit>
    </div>
  </div>
  <ng-template #loading>
    <div class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
 <app-footer></app-footer>
</div>
