<div class="cadastra-usuario">
  <div class="header">
    <app-logo></app-logo>
    <mat-icon (click)="goBack()" style="color: palevioletred;"class="mat-18">reply</mat-icon>
  </div>
  <p style="color: white;">Cadastre-se</p>
  <form class="example-form" (ngSubmit)="cadastrarUsuario()" [formGroup]="formGroup">

    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input matInput name="inputName" required formControlName="nome">
    </mat-form-field>

    <mat-form-field>
      <mat-label>E-mail</mat-label>
      <input matInput placeholder="pat@example.com" required name="inputEmail" formControlName="email">
      @if (emailFormControl .invalid) {
        <mat-error>{{getErrorMessage()}}</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input matInput required formControlName="password"  [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Celular</mat-label>
      <input matInput mask="(00) 0 0000-0000" type="tel" name="inputCel" required  formControlName="celular">
    </mat-form-field>

    <app-button [nome]="nomeBotao" type="submit"></app-button>
  </form>
  <mat-spinner class="spinner-container" *ngIf="showSpinner$ | async"></mat-spinner>
</div>
