
.confirma-codigo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

input {
  width: 40px;
  height: 40px;
  font-size: 16px;
  text-align: center;
}

.input {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

@media (min-width: 600px){
  .logo_logado{
    display: none;
  }
  app-footer{
    display: none;
  }
}
@media (max-width: 600px){
  app-nav-bar{
    display: none;
  }
}


