<div class="area_logada_inicial">
  <div class="container">
    <app-nav-bar></app-nav-bar>
    <div class="logo_logado">
      <app-logo></app-logo>
      <mat-icon aria-hidden="false" aria-label="Example user icon" fontIcon="account_circle"></mat-icon>
    </div>
    <h1>Olá, Leo</h1>
    <p>Você poderá editar conteúdo ou usuário</p>
    <div class="botoes">
      <a routerLink="/usuario-edit"><app-button [nome]="nomeBotao1" [color]="color"></app-button></a>
      <a routerLink="/materias-edit"><app-button [nome]="nomeBotao2" [color]="color"></app-button></a>
    </div>
  </div>
  <app-footer></app-footer>
  </div>
