<div class="container">
  <mat-form-field>
    <mat-label>Matéria</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. QUALIDADE E TESTE" #input>
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <table>
    <thead>
      <tr>
        <th>Código</th>
        <th>Nome</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let materia of dataSource.connect() | async" class="tr-class">
        <td>{{ materia.codigo }}</td>
        <td>{{ materia.nomeMateria }}</td>
        <td>
          <button mat-icon-button color="black" aria-label="Editar materia" (click)="navegarParaAtualizaMateria(materia.materiasId)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="black" aria-label="Deleta materia" (click)="deletaMateria(materia.materiasId)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <mat-paginator
              [pageSize]="10"
              aria-label="Select page">
</mat-paginator>
<div class="container-botao">
  <button class="adicionar-materia-btn" (click)="goToSalvarMateria()">
    <p>Adicionar Matéria</p>
    <mat-icon>add_circle</mat-icon>
  </button>
</div>
</div>
