
.container{
  overflow-x: auto;
  width: 100%;
  margin-bottom: 60px;
}

.user-list {
  list-style: none;
  padding: 0;
}

.custom-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #d9d9d9;
  margin-bottom: 20px;
  width: 100%;
  color: black;
}

.botoes{
  padding-right: 20px;
}


mat-form-field{
  width: 100%;
}

// table{
//   width: 100%;
//   background-color: #d9d9d9;
//   text-align: center;
//   border-collapse: collapse;
// }

// td, th{
//   background-color: #d9d9d9;
//   color: black;
//   border-bottom: 1px solid rgba(0, 0, 0, 0.3);
// }

// .ng-star-inserted{
//   border: none;
// }

